<div class="container">
  <div class="contact-section">
    <h2>GET IN TOUCH</h2>
    <p>
      We're eager to connect with you! Share your thoughts or questions below. 
      Your feedback matters. Use this form to reach out, and we'll respond promptly.
      Got a message for us? Drop us a line, and we'll be in touch soon.
    </p>
  </div>
<!-- Contact Form Start -->
  <div class="contain">
    <div class="form">
      <h3>Contact Form</h3>
      <form>
        <p>
          <label for="name">Name *</label>
          <input type="text" id="name">
        </p>
        <p>
          <label for="email">Email Address *</label>
          <input type="email" id="email">
        </p>
        <p class="full-width">
          <label for="message">Message *</label>
          <textarea id="message" cols="30" rows="5"></textarea>
        </p>
        <p class="full-width">
          <button type="submit">Send</button>
        </p>
      </form>
    </div>
  </div>
  <!-- Contact Form End -->
</div>
