:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    overflow-y: hidden;
    padding: 20px;
    padding-top: 0; /* Adjust this value based on your header height */
    margin-top: -80px;
  }

  
  @media (max-width: 1024px) {
    .main-content {
      margin-top: -40px;
      overflow-y: auto;
    }
  }